
.col-1-xs {
	width: 8.333%;	
}
.col-2-xs {
	width: 16.666%;	
}
.col-3-xs {
	width: 25%;	
}
.col-4-xs {
	width: 33.333%;	
}
.col-5-xs {
	width: 41.666%;	
}
.col-6-xs {
	width: 50%;	
}
.col-7-xs {
	width: 58.333%;	
}
.col-8-xs {
	width: 66.666%;	
}
.col-9-xs {
	width: 75%;	
}
.col-10-xs {
	width: 83.333%;	
}
.col-11-xs {
	width: 91.666%;	
}
.col-12-xs {
	width: 100%;	
}