@media (min-width: 992px){

	.col-1-md {
		width: 8.333%;	
	}
	.col-2-md {
		width: 16.666%;	
	}
	.col-3-md {
		width: 25%;	
	}
	.col-4-md {
		width: 33.333%;	
	}
	.col-5-md {
		width: 41.666%;	
	}
	.col-6-md {
		width: 50%;	
	}
	.col-7-md {
		width: 58.333%;	
	}
	.col-8-md {
		width: 66.666%;	
	}
	.col-9-md {
		width: 75%;	
	}
	.col-10-md {
		width: 83.333%;	
	}
	.col-11-md {
		width: 91.666%;	
	}
	.col-12-md {
		width: 100%;	
	}
}